[submodule "thirdparty/nvim-treesitter"]
	path = thirdparty/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter
[submodule "thirdparty/tree-sitter-java"]
	path = thirdparty/tree-sitter-java
	url = https://github.com/tree-sitter/tree-sitter-java
